appdirs==1.4.3
awscli==1.11.137
awsebcli==3.10.6
backports.ssl-match-hostname==3.5.0.1
blessed==1.14.2
boto==2.48.0
boto3==1.4.4
botocore==1.12.137
cement==2.10.2
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
colorama==0.3.9
docker-py==1.10.6
docker-pycreds==0.2.1
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
Flask==0.12.2
Flask-Mail==0.9.1
futures==3.1.1
idna==2.6
ipaddress==1.0.18
itsdangerous==0.24
Jinja2==2.9.6
jmespath==0.9.3
MarkupSafe==1.0
packaging==16.8
pathspec==0.5.3
pyasn1==0.3.2
pyparsing==2.2.0
python-dateutil==2.6.1
PyYAML==3.12
requests==2.18.4
rsa==4.7
s3transfer==0.1.10
semantic-version==2.6.0
six==1.10.0
tabulate==0.7.7
termcolor==1.1.0
upgrade-requirements==1.4.0
urllib3==1.22
wcwidth==0.1.7
websocket-client==0.44.0
Werkzeug==0.12.2
WTForms==2.1
