<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Behavioral Health Integrative Services</title>

        <link href="static/versa_html/css/plugins/plugins.css" rel="stylesheet">
        <!--dz parallaxer-->
        <link href="static/versa_html/plugins/dzsparallaxer/dzsparallaxer.css" rel="stylesheet">
        <link href="static/versa_html/plugins/dzsparallaxer/scroller.css" rel="stylesheet">
        <link href="static/versa_html/plugins/dzsparallaxer/advancedscroller/plugin.css" rel="stylesheet">
        <!-- load css for cubeportfolio -->
        <link rel="stylesheet" type="text/css" href="static/versa_html/plugins/cubeportfolio/css/cubeportfolio.min.css">
        <!--main css file-->
        <link href="static/versa_html/css/style.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="static/versa_html/https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="static/versa_html/https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light navbar-transparent navbar-sticky">
            <a class="navbar-brand" href="static/versa_html/index.html">
                <img src="static/versa_html/images/logo-light.png" alt="" class="logo-visible-desktop logo-default">
                <img src="static/versa_html/images/logo.png" alt="" class="logo-hidden-desktop logo-scroll">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                 <ul class="navbar-nav  ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown" data-toggle="dropdown" href="static/versa_html/#">About Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown" data-toggle="dropdown" href="static/versa_html/#">Forms</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="static/versa_html/#">Pricing</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown" data-toggle="dropdown" href="static/versa_html/#">Sign into my Video Office</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown" data-toggle="dropdown" href="static/versa_html/#">Book Now</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="static/versa_html/#">Questions</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="static/versa_html/#">Contact</a>
                    </li>
                </ul>
            </div>
        </nav><!--/footer-->
        <section class="dzsparallaxer auto-init dzsparallaxer---window-height use-loading" style="position: relative; height: 800px;" data-options='{  mode_scroll: "normal" }'>
            <div class="divimage dzsparallaxer--target " data-src="static/img/hands.jpeg" style="width: 100%; height: 130%; background-image: url()">
                <div class="content-table">
                    <div class="content-middle pt80 ">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10 col-lg-10 ml-auto mr-auto text-center">
                                    <span class='typed'></span>
                                    <p class="lead text-white mb20 text-muted">
                                        Counseling and Psychotherapy
                                    </p>
                                    <div class="circle-button">
                                        <a href="https://calendly.com/martha-alvarez4" class="btn btn-light btn-xl btn-rounded">
                                            Book Now!
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--hero inner-->

                </div><!--parallax hero-->
            </div><!--parallax image div-->
            <div class="mouse-down"><a data-scroll href="static/versa_html/#about"><i class="fa fa-angle-down fa-3x text-white"></i></a></div>
        </section>
        <!--intro section end-->
        <div class="container pt90 pb50">
            <div class="row">
                <div class="col-md-4 mb40">
                    <div class="icon-card-style1">
                        <i class="icon-picture text-muted bg-faded icon-round-60"></i>
                        <div class="overflow-hiden">
                            <h4 class="h6 font600">Clean pixel perfect</h4>
                            <p class="mb20">
                                please consider donating a small sum to help pay for the hosting and bandwidth bill.
                            </p>
                            <a href="static/versa_html/#" class="btn btn-underline">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb40">
                    <div class="icon-card-style1">
                        <i class="icon-layers text-muted bg-faded icon-round-60"></i>
                        <div class="overflow-hiden">
                            <h4 class="h6 font600">Minimal & powerful</h4>
                            <p class="mb20">
                                please consider donating a small sum to help pay for the hosting and bandwidth bill.
                            </p>
                            <a href="static/versa_html/#" class="btn btn-underline">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb40">
                    <div class="icon-card-style1">
                        <i class="icon-chat text-muted bg-faded icon-round-60"></i>
                        <div class="overflow-hiden">
                            <h4 class="h6 font600">24/7 Support</h4>
                            <p class="mb20">
                                please consider donating a small sum to help pay for the hosting and bandwidth bill.
                            </p>
                            <a href="static/versa_html/#" class="btn btn-underline">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" bg-faded pb80 pt80">
            <div class="container">
                <div class="center-title mb50 text-center">
                    <h4>What our customers think</h4>
                </div>
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <div class="owl-carousel owl-theme owl-testimonials-full">
                            <div class="item">
                                <div class="testimonial-full">
                                    <p class="lead">
                                        " If you use this site regularly and would like to help keep the site on the Internet, please consider donating a small sum to help pay for the hosting and bandwidth bill. "

                                    </p>
                                    <div class="clearfix testimonial-author">
                                        <img src="static/versa_html/images/team-4.jpg" alt="" class="img-fluid float-left mr-3 rounded-circle" width="60">
                                        <h5 class="font400 h6 mb0 pt5">John Doe - </h5>
                                        <small>Wrapbootstrap</small>
                                    </div>
                                </div>
                            </div><!--/item-->
                            <div class="item">
                                <div class="testimonial-full">
                                    <p class="lead">
                                        " If you use this site regularly and would like to help keep the site on the Internet, please consider donating a small sum to help pay for the hosting and bandwidth bill. "

                                    </p>
                                    <div class="clearfix testimonial-author">
                                        <img src="static/versa_html/images/team-6.jpg" alt="" class="img-fluid float-left mr-3 rounded-circle" width="60">
                                        <h5 class="font400 h6 mb0 pt5">John Doe - </h5>
                                        <small>Wrapbootstrap</small>
                                    </div>
                                </div>
                            </div><!--/item-->
                            <div class="item">
                                <div class="testimonial-full">
                                    <p class="lead">
                                        " If you use this site regularly and would like to help keep the site on the Internet, please consider donating a small sum to help pay for the hosting and bandwidth bill. "

                                    </p>
                                    <div class="clearfix testimonial-author">
                                        <img src="static/versa_html/images/team-8.jpg" alt="" class="img-fluid float-left mr-3 rounded-circle" width="60">
                                        <h5 class="font400 h6 mb0 pt5">John Doe - </h5>
                                        <small>Wrapbootstrap</small>
                                    </div>
                                </div>
                            </div><!--/item-->
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="container pt90 pb50">
            <div class="center-title mb50 text-center">
                <h4>Counseling team</h4>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 mb50 text-center">
                    <img src="static/versa_html/images/team-1.jpg" alt="" class="img-fluid rounded-circle mb20 shadow20" width="150">
                    <h4>Angelina Doe</h4>
                    <span class="font600 text-muted">Marketing manager</span>
                    <ul class="list-inline social-list pt20 pb0 mb0">
                        <li class="list-inline-item"><a href="static/versa_html/#"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="static/versa_html/#"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="static/versa_html/#"><i class="fa fa-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="static/versa_html/#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div><!--/col-->
                <div class="col-md-6 col-lg-3 mb50 text-center">
                    <img src="static/versa_html/images/team-2.jpg" alt="" class="img-fluid rounded-circle mb20 shadow20" width="150">
                    <h4>Angelina Doe</h4>
                    <span class="font600 text-muted">Marketing manager</span>
                    <ul class="list-inline social-list pt20 pb0 mb0">
                        <li class="list-inline-item"><a href="static/versa_html/#"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="static/versa_html/#"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="static/versa_html/#"><i class="fa fa-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="static/versa_html/#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div><!--/col-->
                <div class="col-md-6 col-lg-3 mb50 text-center">
                    <img src="static/versa_html/images/team-3.jpg" alt="" class="img-fluid rounded-circle mb20 shadow20" width="150">
                    <h4>Angelina Doe</h4>
                    <span class="font600 text-muted">Marketing manager</span>
                    <ul class="list-inline social-list pt20 pb0 mb0">
                        <li class="list-inline-item"><a href="static/versa_html/#"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="static/versa_html/#"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="static/versa_html/#"><i class="fa fa-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="static/versa_html/#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div><!--/col-->
                <div class="col-md-6 col-lg-3 mb50 text-center">
                    <img src="static/versa_html/images/team-4.jpg" alt="" class="img-fluid rounded-circle mb20 shadow20" width="150">
                    <h4>Angelina Doe</h4>
                    <span class="font600 text-muted">Marketing manager</span>
                    <ul class="list-inline social-list pt20 pb0 mb0">
                        <li class="list-inline-item"><a href="static/versa_html/#"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="static/versa_html/#"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="static/versa_html/#"><i class="fa fa-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="static/versa_html/#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div><!--/col-->
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <h4>Behavioral Health Integrative Services</h4>
                        <p>
                            Add short message here
                        </p>
                    </div><!--/.column-->
                    <div class="col-md-6 col-lg-6">
                        <h4>Newsletter</h4>
                        <div class="mb30">
                            <form>
                                <div class="form-group">
                                    <label for="subscribe">Subscribe today and get Latest Updates</label>
                                    <input type="email" class="form-control" placeholder="Mail id" id="subscribe">
                                    <button type="submit" class="btn-newsletter"><i class="fa fa-paper-plane-o"></i></button>
                                </div>
                            </form>
                        </div>
                        <span class="font400">&copy; Copyright MakeThis.com 2019</span>
                    </div><!--/.column-->
                </div><!--/.row-->
            </div><!--/.container-->
        </footer><!--/.footer-->
        <script src="static/versa_html/js/bundle/bundle.js" type="text/javascript"></script>
        <script src="static/versa_html/js/versa.custom.js"></script>
        <!--dz parallaxer-->
        <script type="text/javascript" src="static/versa_html/plugins/dzsparallaxer/dzsparallaxer.js"></script>
        <script type="text/javascript" src="static/versa_html/plugins/dzsparallaxer/scroller.js"></script>
        <script type="text/javascript" src="static/versa_html/plugins/dzsparallaxer/advancedscroller/plugin.js"></script>
        <!-- load cubeportfolio -->
        <script type="text/javascript" src="static/versa_html/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
        <!-- init cubeportfolio -->
        <script type="text/javascript" src="static/versa_html/js/cube-portfolio-home.js"></script>
    </body>
</html>
