{% extends "layout.html" %}
{% block content %}

<section class="overflow-hiden">
    <!-- MasterSlider -->
    <div id="P_masterslider" class="master-slider-parent fs-slider ms-parent-id-39" >
        <!-- MasterSlider Main -->
        <div id="masterslider" class="master-slider ms-skin-default" >
            <div class="ms-overlay-layers">
                <img class="ms-layer msp-cn-121-23"
                     src="static/versa_html/plugins/masterslider/images/blank.gif"
                     data-src="static/versa_html/plugins/masterslider/images/mouse-scroll-b-icon.png"
                     alt=""
                     style=""
                     data-duration="512"
                     data-ease="easeOutQuint"
                     data-type="image"
                     data-action="scrollToEnd"
                     data-offset-x="0"
                     data-offset-y="20"
                     data-origin="bc"
                     data-position="normal" />
                <img class="ms-layer ms-wheel-icon msp-cn-121-17"
                     src="static/versa_html/plugins/masterslider/images/blank.gif"
                     data-src="static/versa_html/plugins/masterslider/images/mouse-scroll-w-icon.png"
                     alt=""
                     style=""
                     data-duration="512"
                     data-ease="easeOutQuint"
                     data-type="image"
                     data-action="scrollToEnd"
                     data-offset-x="0"
                     data-offset-y="20"
                     data-origin="bc"
                     data-position="normal" />
            </div>
            <div class="ms-slide fullwidth-layers" data-delay="7.5" data-fill-mode="fill" >
                <img src="static/versa_html/plugins/masterslider/images/blank.gif" alt="" title="" data-src="static/versa_html/plugins/masterslider/images/mscrtvi-background-slide-1.jpg" />
                <div class="ms-layer font-title-55 msp-cn-121-16"
                     style=""
                     data-effect="t(true,n,-30,n,-25,n,n,n,2,2,n,n,n,n,n)"
                     data-duration="2500"
                     data-delay="1000"
                     data-ease="easeOutQuint"
                     data-parallax="3"
                     data-offset-x="0"
                     data-offset-y="2"
                     data-origin="mc"
                     data-position="normal" >Individual Counseling</div>
                <div class="ms-layer font-desc-24 msp-cn-121-18"
                     style=""
                     data-effect="t(true,n,30,n,-15,n,n,n,2,2,n,n,n,n,n)"
                     data-duration="2500"
                     data-delay="1400"
                     data-ease="easeOutQuint"
                     data-parallax="2"
                     data-offset-x="0"
                     data-offset-y="59"
                     data-origin="mc"
                     data-position="normal" >Confidential. Affordable. Effective.</div>
                <a href="https://calendly.com/martha-alvarez4"
                   target="_self"
                   class="ms-layer msp-cn-121-21 ms-btn ms-btn-circle ms-btn-n msp-preset-btn-172"
                   data-delay="3000"
                   data-ease="easeOutQuint"
                   data-parallax="1"
                   data-type="button"
                   data-offset-x="0"
                   data-offset-y="115"
                   data-origin="mc"
                   data-position="normal" >Book Now</a>
            </div>
            <div class="ms-slide" data-delay="7.5" data-fill-mode="fill" >
                <img src="static/versa_html/plugins/masterslider/images/blank.gif" alt="" title="" data-src="static/versa_html/plugins/masterslider/images/mountain.jpeg" />
                <div class="ms-layer msp-cn-121-7"
                     style=""
                     data-effect="t(true,n,n,n,-40,n,n,n,n,n,n,n,-20,n,n)"
                     data-duration="3000"
                     data-delay="200"
                     data-ease="easeOutQuint"
                     data-hide-effect="t(true,n,-100,n,n,n,n,n,n,n,n,n,n,n,n)"
                     data-hide-duration="1500"
                     data-hide-ease="easeInQuint"
                     data-hide-time="5100"
                     data-offset-x="0"
                     data-offset-y="-140"
                     data-origin="mc"
                     data-position="normal" >Couples Counseling</div>
                <div class="ms-layer msp-cn-121-6"
                     style=""
                     data-effect="t(true,n,n,n,-40,n,n,n,n,n,n,n,110,n,n)"
                     data-duration="3000"
                     data-delay="400"
                     data-ease="easeOutQuint"
                     data-hide-effect="t(true,n,-100,n,n,n,n,n,n,n,n,n,n,n,n)"
                     data-hide-duration="1500"
                     data-hide-ease="easeInQuint"
                     data-hide-time="5450"
                     data-offset-x="0"
                     data-offset-y="-69"
                     data-origin="mc"
                     data-position="normal" >Come Together. Stay Together.</div>
                <a href=""
                   target="_self"
                   class="ms-layer ms-btn ms-btn-circle ms-btn-n msp-preset-btn-132"
                   data-duration="1812"
                   data-delay="2162"
                   data-ease="easeOutQuint"
                   data-hide-effect="fade"
                   data-hide-duration="1675"
                   data-hide-ease="easeOutQuint"
                   data-hide-time="6136"
                   data-type="button"
                   data-offset-x="0"
                   data-offset-y="-6"
                   data-origin="mc"
                   data-position="normal" >Book Now</a>
            </div>
            <div class="ms-slide" data-delay="8.2" data-fill-mode="fill" >
                <img src="static/versa_html/plugins/masterslider/images/blank.gif" alt="" title="" data-src="static/versa_html/plugins/masterslider/images/mscrtvi-background-slide-2.jpg" />
                <div class="ms-layer msp-cn-121-11"
                     style=""
                     data-effect="t(true,n,n,n,80,n,n,n,n,n,n,n,-75,n,n)"
                     data-duration="3000"
                     data-delay="400"
                     data-ease="easeOutQuint"
                     data-hide-effect="t(true,n,n,n,8,n,n,n,n,n,n,n,150,n,n)"
                     data-hide-duration="1500"
                     data-hide-ease="easeInQuint"
                     data-hide-time="5900"
                     data-offset-x="264"
                     data-offset-y="181"
                     data-origin="tc"
                     data-position="normal" >Traditional. Non-traditional. We help families of all types.</div>
                <div class="ms-layer msp-cn-121-8 text-right"
                     style=""
                     data-effect="t(true,n,n,n,80,n,n,n,n,n,n,n,-70,n,n)"
                     data-duration="3000"
                     data-delay="800"
                     data-ease="easeOutQuint"
                     data-hide-effect="t(true,n,n,n,10,n,n,n,n,n,n,n,150,n,n)"
                     data-hide-duration="1650"
                     data-hide-ease="easeInQuint"
                     data-hide-time="6062"
                     data-offset-x="214"
                     data-offset-y="220"
                     data-origin="tc"
                     data-position="normal" >Family Counseling</div>
            </div>
        </div>
        <!-- END MasterSlider Main -->
    </div>
    <!-- END MasterSlider -->
</section>
<div class="container pt90 pb50">
    <div class="row">
        <div class="col-md-4 mb40">
            <div class="icon-card-style1">
                <i class="fa fa-user"></i>
                <div class="overflow-hiden">
                    <h4 class="h6 font600">Individual Counseling</h4>
                    <p class="mb20">
                        We support individuals in exploring and resolving issues of an interpersonal,
                        intrapsychic, or personal nature
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb40">
            <div class="icon-card-style1">
                <i class="fa fa-heart"></i>
                <div class="overflow-hiden">
                    <h4 class="h6 font600">Couples Counseling</h4>
                    <p class="mb20">
                        We use the
                        <a href="https://www.gottman.com/about/the-gottman-method/">Gottman Method</a>
                        to help couples effectively assess and improve their relationships
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb40">
            <div class="icon-card-style1">
                <i class="fa fa-users"></i>
                <div class="overflow-hiden">
                    <h4 class="h6 font600">Family Counseling</h4>
                    <p class="mb20">
                        We support families in understanding and reconnecting with each other
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" bg-faded pb80 pt80">
    <div class="container">
        <div class="center-title mb50 text-center">
            <h4>Client Reviews</h4>
        </div>
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <div class="owl-carousel owl-theme owl-testimonials-full">
                    <div class="item">
                        <div class="testimonial-full">
                            <p class="lead">
                                "Martha was a huge help in helping me cope with the loss of my father."
                            </p>
                            <div class="clearfix testimonial-author">
                                <h5 class="font400 h6 mb0 pt5">Alyse D. - </h5>
                            </div>
                        </div>
                    </div><!--/item-->
                    <div class="item">
                        <div class="testimonial-full">
                            <p class="lead">
                                " "
                            </p>
                            <div class="clearfix testimonial-author">
                                <h5 class="font400 h6 mb0 pt5">John Doe - </h5>
                            </div>
                        </div>
                    </div><!--/item-->
                    <div class="item">
                        <div class="testimonial-full">
                            <p class="lead">
                                " "
                            </p>
                            <div class="clearfix testimonial-author">
                                <h5 class="font400 h6 mb0 pt5">John Doe - </h5>
                            </div>
                        </div>
                    </div><!--/item-->
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container pt90 pb50">
    <div class="center-title mb50 text-center">
        <h4>Counseling team</h4>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-3 mb50 text-center">
            <img src="static/versa_html/images/team-1.jpg" alt="" class="img-fluid rounded-circle mb20 shadow20" width="150">
            <h4>Martha Dominguez</h4>
            <span class="font600 text-muted">Counselor</span>
            <ul class="list-inline social-list pt20 pb0 mb0">
                <li class="list-inline-item"><a href="static/versa_html/#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div><!--/col-->
        <div class="col-md-6 col-lg-3 mb50 text-center">
            <img src="static/versa_html/images/team-2.jpg" alt="" class="img-fluid rounded-circle mb20 shadow20" width="150">
            <h4>Angelina Doe</h4>
            <span class="font600 text-muted">Counselor</span>
            <ul class="list-inline social-list pt20 pb0 mb0">
                <li class="list-inline-item"><a href="static/versa_html/#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div><!--/col-->
        <div class="col-md-6 col-lg-3 mb50 text-center">
            <img src="static/versa_html/images/team-3.jpg" alt="" class="img-fluid rounded-circle mb20 shadow20" width="150">
            <h4>Angelina Doe</h4>
            <span class="font600 text-muted">Counselor</span>
            <ul class="list-inline social-list pt20 pb0 mb0">
                <li class="list-inline-item"><a href="static/versa_html/#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div><!--/col-->
        <div class="col-md-6 col-lg-3 mb50 text-center">
            <img src="static/versa_html/images/team-4.jpg" alt="" class="img-fluid rounded-circle mb20 shadow20" width="150">
            <h4>Angelina Doe</h4>
            <span class="font600 text-muted">Counselor</span>
            <ul class="list-inline social-list pt20 pb0 mb0">
                <li class="list-inline-item"><a href="static/versa_html/#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div><!--/col-->
    </div>
</div>

{% endblock %}