{% extends "layout.html" %}
{% block content %}

    <body>
        <!--page title-->
        <div class="dzsparallaxer auto-init height-is-based-on-content "  data-options='{   direction: "reverse"}'>
            <div class="divimage dzsparallaxer--target " style="width: 101%; height: 130%; background-image: url(static/img/hands.jpeg)">
            </div>

            <div class="container pt100 pb70">
                <div class="row pb50">
                    <div class="col-md-8 ml-auto mr-auto wow bounceIn" data-wow-delay=".2s">
                        <h3 class="h1 text-center font300  pt100 text-white">Pricing</h3>
                    </div>
                </div>
            </div>
        </div><!--parallax-->
        <!--/.page-title-->

        <div class="container pt90 pb50">
            <div class="row mb50">
                <div class="col-md-8 mr-auto ml-auto text-center">
                    <p class="lead">
                        Simple, up-front pricing. No gimmicks; no surprises.
                    </p>
                </div>
            </div><!--row-->
            <div class='row'>
                <div class='col-md-3 mb40'>
                <div class='pricing-card-modern pricing-primary'>
                    <h5>Intake</h5>
                    <br>
                    <div class='price-tag'><sup>$</sup>300.00<sub>/session</sub></div>
                    <ul class='list-unstyled'>
                        <li>Initial assessment <br>of services</li>
                    </ul>
                    <a href='https://calendly.com/martha-alvarez4' class='btn btn-lg btn-primary'>Book Now</a>
                </div>
            </div>
            <div class='col-md-3 mb40'>
                <div class='pricing-card-modern pricing-success'>
                    <h5>Individual Counseling</h5>
                    <br>
                    <div class='price-tag'><sup>$</sup>150.00<sub>/session</sub></div>
                    <ul class='list-unstyled'>
                        <li>Cognitive Behavioral Therapy<br>for individuals</li>
                    </ul>
                    <a href='https://calendly.com/martha-alvarez4' class='btn btn-lg btn-primary'>Book Now</a>
                </div>
            </div>
            <div class='col-md-3 mb40'>
                <div class='pricing-card-modern pricing-primary'>
                    <h5>Couples Counseling</h5>
                    <br>
                    <div class='price-tag'><sup>$</sup>200.00<sub>/session</sub></div>
                    <ul class='list-unstyled'>
                        <li>Counseling for<br>couples</li>
                    </ul>
                    <a href='https://calendly.com/martha-alvarez4' class='btn btn-lg btn-primary'>Book Now</a>
                </div>
            </div>
                <div class='col-md-3 mb40'>
                <div class='pricing-card-modern pricing-success'>
                    <h5>DWI Screening &amp; Assessment</h5>
                    <div class='price-tag'><sup>$</sup>400.00</div>
                    <ul class='list-unstyled'>
                        <li>Screening and Assessment<br>Price includes labwork</li>
                    </ul>
                    <a href='https://calendly.com/martha-alvarez4' class='btn btn-lg btn-primary'>Book Now</a>
                </div>
            </div>
        </div>
        <div class='container pt50 pb50' id='faqs'>
            <div class='center-title text-center mb70'>
                <h4>Accepted Insurance and Payment Forms</h4>
            </div>
            <div class='row'>
                <div class='col-md-4 mb40'>
                    <h5 class='h6 font400 mb10' style="text-align: center;">Cash</h5>
                </div>
                 <div class='col-md-4 mb40'>
                    <h5 class='h6 font400 mb10' style="text-align: center;">Check</h5>
                </div>
                 <div class='col-md-4 mb40'>
                    <h5 class='h6 font400 mb10' style="text-align: center;">Credit Card</h5>
                     <p class='text-center lead'>
                         American Express<br>Discover<br>MasterCard<br>Visa
                     </p>
                </div>
                 <div class='col-md-4 mb40'>
                    <h5 class='h6 font400 mb10' style="text-align: center;">Blue Cross Blue Shield</h5>
                </div>
                 <div class='col-md-4 mb40'>
                    <h5 class='h6 font400 mb10' style="text-align: center;">Magnacare</h5>
                </div>
                 <div class='col-md-4 mb40'>
                    <h5 class='h6 font400 mb10' style="text-align: center;">Tricare</h5>
                </div>
            </div>
            <p class='text-center lead'>If you can not find your question, feel free to
                <a href="mailto:webmaster@example.com">Contact us</a>
            </p>
        </div>

{% endblock %}
